<?xml version="1.0"?>
<config>
    <modules>
        <Simi_Simideeplink>
            <version>0.1.0</version>
        </Simi_Simideeplink>
    </modules>
    <frontend>
        <routers>
            <simideeplink>
                <use>standard</use>
                <args>
                    <module>Simi_Simideeplink</module>
                    <frontName>simideeplink</frontName>
                </args>
            </simideeplink>
        </routers>
        <layout>
            <updates>
                <simideeplink>
                    <file>simideeplink.xml</file>
                </simideeplink>
            </updates>
        </layout>
        <translate>
            <modules>
                <Simi_Simideeplink>
                    <files>
                        <default>Simi_Simideeplink.csv</default>
                    </files>
                </Simi_Simideeplink>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <simideeplinkadmin>
                <use>admin</use>
                <args>
                    <module>Simi_Simideeplink</module>
                    <frontName>simideeplinkadmin</frontName>
                </args>
            </simideeplinkadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <simideeplink>
                    <file>simideeplink.xml</file>
                </simideeplink>
            </updates>
        </layout>
        <translate>
            <modules>
                <Simi_Simideeplink>
                    <files>
                        <default>Simi_Simideeplink.csv</default>
                    </files>
                </Simi_Simideeplink>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <simideeplink>
                <class>Simi_Simideeplink_Model</class>
                <resourceModel>simideeplink_mysql4</resourceModel>
            </simideeplink>
            <simideeplink_mysql4>
                <class>Simi_Simideeplink_Model_Mysql4</class>
                <entities>
                    <simideeplink>
                        <table>simideeplink</table>
                    </simideeplink>
                </entities>
            </simideeplink_mysql4>
        </models>
        <resources>
            <simideeplink_setup>
                <setup>
                    <module>Simi_Simideeplink</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </simideeplink_setup>
            <simideeplink_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </simideeplink_write>
            <simideeplink_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </simideeplink_read>
        </resources>
        <blocks>
            <simideeplink>
                <class>Simi_Simideeplink_Block</class>
            </simideeplink>
        </blocks>
        <helpers>
            <simideeplink>
                <class>Simi_Simideeplink_Helper</class>
            </simideeplink>
        </helpers>
         <events>

             <!-- Add API resource -->
             <simi_simiconnector_model_server_initialize>
                 <observers>
                     <simi_simiconnector_model_server_initialize_simideeplink>
                         <type>singleton</type>
                         <class>simideeplink/observer</class>
                         <method>simiSimiconnectorModelServerInitialize</method>
                     </simi_simiconnector_model_server_initialize_simideeplink>
                 </observers>
             </simi_simiconnector_model_server_initialize>

             <simi_simiconnector_model_api_products_show_after>
                 <observers>
                     <simi_simiconnector_model_api_products_show_after_simideeplink>
                         <type>singleton</type>
                         <class>simideeplink/observer</class>
                         <method>addUrlSEOInforProduct</method>
                     </simi_simiconnector_model_api_products_show_after_simideeplink>
                 </observers>
             </simi_simiconnector_model_api_products_show_after>

        </events>
    </global>
</config>