<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="simiconnector_get_storeview_info_after">
        <observer name="simifbconnect_simiconnector_get_storeview_info_after" 
                  instance="Simi\Simifbconnect\Observer\GetStoreviewDetailAfter" />
    </event>
</config>