<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="simi_simiconnector_model_server_initialize">
        <observer name="simi_simibraintree_change_resource" instance="Simi\Simibraintree\Observer\SimiSimiconnectorModelServerInitialize"/>
    </event>

    <event name="payment_method_is_active">
        <observer name="simi_simibraintree_payment_method_is_active" 
                  instance="Simi\Simibraintree\Observer\PaymentMethodIsActive" />
    </event>

    <event name="simiconnector_add_payment_method">
        <observer name="simi_simibraintree_add_payment_method" 
                  instance="Simi\Simibraintree\Observer\SimiconnectorAddPaymentMethod" />
    </event>

    <event name="simiconnector_change_payment_detail">
        <observer name="simi_simibraintree_change_payment_detail"
                  instance="Simi\Simibraintree\Observer\SimiconnectorChangePaymentDetail" />
    </event>

    <event name="simi_simiconnector_model_api_orders_onepage_store_after">
        <observer name="simi_simibraintree_orders_onepage_store_after"
                  instance="Simi\Simibraintree\Observer\SimiconnectorAfterPlaceOrder" />
    </event>
</config>