<?xml version="1.0"?>

<config>
    <modules>
        <Simi_Simistorelocator>
            <version>0.2.0</version>
        </Simi_Simistorelocator>
    </modules>
    <frontend>
        <routers>
            <simistorelocator>
                <use>standard</use>
                <args>
                    <module>Simi_Simistorelocator</module>
                    <frontName>simistorelocator</frontName>
                </args>
            </simistorelocator>
        </routers>
        <layout>
            <updates>
                <simistorelocator>
                    <file>simistorelocator.xml</file>
                </simistorelocator>
            </updates>
        </layout>
        <translate>
            <modules>
                <Simi_Simistorelocator>
                    <files>
                        <default>Simi_Simistorelocator.csv</default>
                    </files>
                </Simi_Simistorelocator>
            </modules>
        </translate>
        <events>
            <connector_config_get_plugins_return>
                <observers>
                    <simistorelocator_observers>
                        <class>simistorelocator/observer</class>
                        <method>connectorConfigGetPluginsReturn</method>
                    </simistorelocator_observers>
                </observers>
            </connector_config_get_plugins_return>
            <!--
            SimiCart Addition Events
            -->
            <!-- Add API resource -->
            <simi_simiconnector_model_server_initialize>
                <observers>
                    <simi_simiconnector_model_server_initialize_simistorelocator>
                        <type>singleton</type>
                        <class>simistorelocator/simiobserver</class>
                        <method>simiSimiconnectorModelServerInitializeSimistorelocator</method>
                    </simi_simiconnector_model_server_initialize_simistorelocator>
                </observers>
            </simi_simiconnector_model_server_initialize>            
        </events>
    </frontend>>    
    <admin>
        <routers>
            <adminhtml> 
                <args> 
                    <modules> 
                        <Simi_Simistorelocator after="Mage_Adminhtml">Simi_Simistorelocator_Adminhtml</Simi_Simistorelocator>
                    </modules> 
                </args> 
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <simistorelocator>
                    <file>simistorelocator.xml</file>
                </simistorelocator>
            </updates>
        </layout>
        <translate>
            <modules>
                <Simi_Simistorelocator>
                    <files>
                        <default>Simi_Simistorelocator.csv</default>
                    </files>
                </Simi_Simistorelocator>
            </modules>
        </translate>
        <events>
            <adminhtml_init_system_config>
                <observers>
                    <simistorelocator_add_field_config_enable>
                        <class>simistorelocator/simiobserver</class>
                        <method>addFieldSystemConfig</method>
                    </simistorelocator_add_field_config_enable>
                </observers>
            </adminhtml_init_system_config>
        </events>
    </adminhtml>   
    <global>
        <models>
            <simistorelocator>
                <class>Simi_Simistorelocator_Model</class>
                <resourceModel>simistorelocator_mysql4</resourceModel>
            </simistorelocator>
            <simistorelocator_mysql4>
                <class>Simi_Simistorelocator_Model_Mysql4</class>
                <entities>
                    <simistorelocator>
                        <table>simistorelocator</table>
                    </simistorelocator>
                    <image>
                        <table>simistorelocator_image</table>
                    </image>
                    <storevalue>
                        <table>simistorelocator_value</table>
                    </storevalue>
                    <tag>
                        <table>simistorelocator_tag</table>
                    </tag>  
                    <holiday>
                        <table>simistorelocator_holiday</table>
                    </holiday>
                    <specialday>
                        <table>simistorelocator_specialday</table>
                    </specialday>               
                </entities>
            </simistorelocator_mysql4>
        </models>
        <resources>
            <simistorelocator_setup>
                <setup>
                    <module>Simi_Simistorelocator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </simistorelocator_setup>
            <simistorelocator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </simistorelocator_write>
            <simistorelocator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </simistorelocator_read>
        </resources>
        <blocks>
            <simistorelocator>
                <class>Simi_Simistorelocator_Block</class>
            </simistorelocator>
        </blocks>
        <helpers>
            <simistorelocator>
                <class>Simi_Simistorelocator_Helper</class>
            </simistorelocator>
        </helpers>
        <!-- <events>
                <controller_action_predispatch>
                        <observers>
                                <simistorelocator_observers>
                                        <class>simistorelocator/observer</class>
                                        <method>controllerActionPredispatch</method>
                                </simistorelocator_observers>
                        </observers>
                </controller_action_predispatch>
        </events> -->
    </global>
    <default>
        <simistorelocator>
            <general>
                <enable>1</enable>
                <allow_face>1</allow_face>
                <language>en_US</language>
                <!--
                <choose_search>5</choose_search>   
                -->             
                <search_radius_default>100</search_radius_default>
                <overwrite_exists_locator>0</overwrite_exists_locator>
                <page_title>Store Locator</page_title>
                <show_spencial_days>30</show_spencial_days>
                <default_country></default_country>
                <sort_store>distance</sort_store>
                <distance_unit>km</distance_unit>
            </general>
        </simistorelocator>
    </default>
    
</config>