<?xml version="1.0"?>
<config>
    <modules>
        <Simi_Simiklarna>
            <version>0.1.0</version>
        </Simi_Simiklarna>
    </modules>
    <frontend>
        <routers>
            <simiklarna>
                <use>standard</use>
                <args>
                    <module>Simi_Simiklarna</module>
                    <frontName>simiklarna</frontName>
                </args>
            </simiklarna>
        </routers>
        <layout>
            <updates>
                <simiklarna>
                    <file>simiklarna.xml</file>
                </simiklarna>
            </updates>
        </layout>
        <translate>
            <modules>
                <Simi_Simiklarna>
                    <files>
                        <default>Simi_Simiklarna.csv</default>
                    </files>
                </Simi_Simiklarna>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <simiklarnaadmin>
                <use>admin</use>
                <args>
                    <module>Simi_Simiklarna</module>
                    <frontName>simiklarnaadmin</frontName>
                </args>
            </simiklarnaadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <simiklarna>
                    <file>simiklarna.xml</file>
                </simiklarna>
            </updates>
        </layout>
        <translate>
            <modules>
                <Simi_Simiklarna>
                    <files>
                        <default>Simi_Simiklarna.csv</default>
                    </files>
                </Simi_Simiklarna>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <simiklarna>
                <class>Simi_Simiklarna_Model</class>
                <resourceModel>simiklarna_mysql4</resourceModel>
            </simiklarna>
            <simiklarna_mysql4>
                <class>Simi_Simiklarna_Model_Mysql4</class>
                <entities>
                    <simiklarna>
                        <table>simiklarna</table>
                    </simiklarna>
                </entities>
            </simiklarna_mysql4>
        </models>
        <resources>
            <simiklarna_setup>
                <setup>
                    <module>Simi_Simiklarna</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </simiklarna_setup>
            <simiklarna_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </simiklarna_write>
            <simiklarna_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </simiklarna_read>
        </resources>
        <blocks>
            <simiklarna>
                <class>Simi_Simiklarna_Block</class>
            </simiklarna>
        </blocks>
        <helpers>
            <simiklarna>
                <class>Simi_Simiklarna_Helper</class>
            </simiklarna>
        </helpers>
        <events>
            <payment_method_is_active>
                <observers>
                    <simi_simiklarna_payment_observers>
                        <type>singleton</type>
                        <class>simiklarna/observer</class>
                        <method>paymentMethodIsActive</method>
                    </simi_simiklarna_payment_observers>
                </observers>
            </payment_method_is_active>
            <simi_add_payment_method>
                <observers>
                    <simiklarna_add_payment_method>
                        <class>simiklarna/observer</class>
                        <method>addPayment</method>
                    </simiklarna_add_payment_method>
                </observers>
            </simi_add_payment_method>
            <!-- 4.0 simiconnector version -->
            <!-- Add API resource -->
            <simi_simiconnector_model_server_initialize>
                <observers>
                    <simi_simiconnector_model_server_initialize_simiklarna>
                        <type>singleton</type>
                        <class>simiklarna/simiobserver</class>
                        <method>connectorConfigGetPluginsReturnSimiklarna</method>
                    </simi_simiconnector_model_server_initialize_simiklarna>
                </observers>
            </simi_simiconnector_model_server_initialize>
            <simiconnector_add_payment_method>
                <observers>
                    <simi_simiklarna_add_payment_method>
                        <class>simiklarna/simiobserver</class>
                        <method>addPayment40</method>
                    </simi_simiklarna_add_payment_method>
                </observers>
            </simiconnector_add_payment_method>
            <!-- end -->
        </events>
    </global>
    <default>
        <payment>
            <simiklarna>
                <model>simiklarna/payment</model>
                <active>1</active>
                <order_status>pending</order_status>
                <payment_success_status>processing</payment_success_status>
                <title>Klarna Checkout</title>
                <payment_action>sale</payment_action>
                <merchant_id></merchant_id>
                <secret_key></secret_key>
                <enable_auth_query>0</enable_auth_query>
                <allowspecific>0</allowspecific>
                <sort_order>0</sort_order>
            </simiklarna>
        </payment>
    </default>
</config>