<?xml version="1.0"?>
<config>
    <modules>
        <Simi_Simiapicache>
            <version>0.1.0</version>
        </Simi_Simiapicache>
    </modules>
    <frontend>
        <routers>
            <simiapicache>
                <use>standard</use>
                <args>
                    <module>Simi_Simiapicache</module>
                    <frontName>simiapicache</frontName>
                </args>
            </simiapicache>
        </routers>
        <layout>
            <updates>
                <simiapicache>
                    <file>simiapicache.xml</file>
                </simiapicache>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <simi_simiapicache_controller_action_predispatch>
                        <class>simiapicache/observer</class>
                        <method>controllerActionPredispatch</method>
                    </simi_simiapicache_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
            <simiconnector_rest_v2>
                <observers>
                    <simi_simiapicache_simiconnector_rest_v2>
                        <class>simiapicache/observer</class>
                        <method>apijsonencoding</method>
                    </simi_simiapicache_simiconnector_rest_v2>
                </observers>
            </simiconnector_rest_v2>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Simi_Simiapicache before="Mage_Adminhtml">Simi_Simiapicache_Adminhtml</Simi_Simiapicache>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <routers>
            <simiapicache>
                <use>standard</use>
                <args>
                    <module>Simi_Simiapicache</module>
                    <frontName>simiapicacheadmin</frontName>
                </args>
            </simiapicache>
        </routers>
        <layout>
            <updates>
                <simiapicache>
                    <file>simiapicache.xml</file>
                </simiapicache>
            </updates>
        </layout>
        <translate>
            <modules>
                <Simi_Simiapicache>
                    <files>
                        <default>Simi_Simiapicache.csv</default>
                    </files>
                </Simi_Simiapicache>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <simiapicache>
                <class>Simi_Simiapicache_Model</class>
                <resourceModel>simiapicache_mysql4</resourceModel>
            </simiapicache>
            <simiapicache_mysql4>
                <class>Simi_Simiapicache_Model_Mysql4</class>
                <entities>
                    <agent>
                        <table>simiapicache_agent</table>
                    </agent>
                    <message>
                        <table>simiapicache_message</table>
                    </message>
                </entities>
            </simiapicache_mysql4>
        </models>
        <resources>
            <simiapicache_setup>
                <setup>
                    <module>Simi_Simiapicache</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </simiapicache_setup>
            <simiapicache_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </simiapicache_write>
            <simiapicache_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </simiapicache_read>
        </resources>
        <blocks>
            <simiapicache>
                <class>Simi_Simiapicache_Block</class>
            </simiapicache>
        </blocks>
        <helpers>
            <simiapicache>
                <class>Simi_Simiapicache_Helper</class>
            </simiapicache>
        </helpers>
        <events>
            <model_save_after>
                <observers>
                    <simi_simiapicache_model_save_after>
                        <class>simiapicache/observer</class>
                        <method>flushcache</method>
                    </simi_simiapicache_model_save_after>
                </observers>
            </model_save_after>
            <model_delete_after>
                <observers>
                    <simi_simiapicache_model_delete_after>
                        <class>simiapicache/observer</class>
                        <method>flushcache</method>
                    </simi_simiapicache_model_delete_after>
                </observers>
            </model_delete_after>
            <catalog_product_save_after>
                <observers>
                    <simi_simiapicache_product_model_after>
                        <class>simiapicache/observer</class>
                        <method>ProductSaveAfter</method>
                    </simi_simiapicache_product_model_after>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
    <default>
        <simiconnector>
            <apicache>
                <enable>0</enable>
            </apicache>
        </simiconnector>
    </default>
</config>