<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales>
            <totals_sort>
                <simirewardpoints>34</simirewardpoints>
                <simirewardpoints_after_tax>44</simirewardpoints_after_tax>
            </totals_sort>
            <quote>
                <totals>
                    <simirewardpoints_label>
                        <class>Simi\Simirewardpoints\Model\Total\Quote\Label</class>
                        <before>nominal,subtotal</before>
                        <admin_renderer>Simi\Simirewardpoints\Block\Adminhtml\Cart\Label</admin_renderer>
                    </simirewardpoints_label>
                </totals>
            </quote>
        </sales>
        <simirewardpoints>
            <general>
                <enable>1</enable>
                <show_policy_menu>0</show_policy_menu>
                <policy_page>simirewardpoints-policy</policy_page>
                <show_welcome_page>0</show_welcome_page>
                <welcome_page>simirewardpoints-welcome</welcome_page>
            </general>
            <earning>
                <by_tax>0</by_tax>
                <by_shipping>0</by_shipping>
                <rounding_method>round</rounding_method>
                <order_invoice>1</order_invoice>
                <earn_when_spend>1</earn_when_spend>
                <order_cancel_state>closed,canceled</order_cancel_state>
            </earning>
            <spending>
                <spend_for_tax>1</spend_for_tax>
                <spend_for_shipping>1</spend_for_shipping>
                <spend_for_shipping_tax>1</spend_for_shipping_tax>
                <order_refund_state>closed,canceled</order_refund_state>
            </spending>
            <display>
                <toplink>1</toplink>
                <product>1</product>
                <minicart>1</minicart>
            </display>
            <email>
                <enable>1</enable>
                <sender>general</sender>
                <update_balance>simirewardpoints_email_update_balance</update_balance>
                <before_expire_transaction>simirewardpoints_email_before_expire_transaction</before_expire_transaction>
            </email>
        </simirewardpoints>
    </default>
</config>