<?xml version="1.0"?>
<config>
    <modules>
        <Simi_Livechatzopim>
            <version>0.1.0</version>
        </Simi_Livechatzopim>
    </modules>
    <frontend>
        <routers>
            <livechatzopim>
                <use>standard</use>
                <args>
                    <module>Simi_Livechatzopim</module>
                    <frontName>livechatzopim</frontName>
                </args>
            </livechatzopim>
        </routers>
        <layout>
            <updates>
                <livechatzopim>
                    <file>livechatzopim.xml</file>
                </livechatzopim>
            </updates>
        </layout>
		<translate>
            <modules>
                <Simi_Livechatzopim>
                    <files>
                        <default>Simi_Livechatzopim.csv</default>
                    </files>
                </Simi_Livechatzopim>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<livechatzopimadmin>
				<use>admin</use>
				<args>
					<module>Simi_Livechatzopim</module>
					<frontName>livechatzopimadmin</frontName>
				</args>
			</livechatzopimadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<livechatzopim>
					<file>livechatzopim.xml</file>
				</livechatzopim>
			</updates>
		</layout>
		<translate>
            <modules>
                <Simi_Livechatzopim>
                    <files>
                        <default>Simi_Livechatzopim.csv</default>
                    </files>
                </Simi_Livechatzopim>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <livechatzopim>
                <class>Simi_Livechatzopim_Model</class>
                <resourceModel>livechatzopim_mysql4</resourceModel>
            </livechatzopim>
            <livechatzopim_mysql4>
                <class>Simi_Livechatzopim_Model_Mysql4</class>
                <entities>
                    <livechatzopim>
                        <table>livechatzopim</table>
                    </livechatzopim>
                </entities>
            </livechatzopim_mysql4>
        </models>
        <resources>
            <livechatzopim_setup>
                <setup>
                    <module>Simi_Livechatzopim</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </livechatzopim_setup>
            <livechatzopim_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </livechatzopim_write>
            <livechatzopim_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </livechatzopim_read>
        </resources>
        <blocks>
            <livechatzopim>
                <class>Simi_Livechatzopim_Block</class>
            </livechatzopim>
        </blocks>
        <helpers>
            <livechatzopim>
                <class>Simi_Livechatzopim_Helper</class>
            </livechatzopim>
        </helpers>
		<events>
			<connector_config_get_store_view_return>
				 <observers>
                    <connector_config_get_store_view_return>
                        <class>livechatzopim/observer</class>
                        <method>getStoreViewReturData</method>
                    </connector_config_get_store_view_return>
                </observers>
			</connector_config_get_store_view_return>
		</events>
    </global>
    <default>
        <livechatzopim>
            <general>
                <show_profile>0</show_profile>
                <name>3</name>
                <email>3</email>
                <phone>3</phone>
            </general>
        </livechatzopim>
    </default>
</config>