<?xml version="1.0"?>
<config>
    <modules>
        <Simi_Simidailydeal>
            <version>0.1.2</version>
        </Simi_Simidailydeal>
    </modules>
    <frontend>
        <routers>
            <simidailydeal>
                <use>standard</use>
                <args>
                    <module>Simi_Simidailydeal</module>
                    <frontName>simidailydeal</frontName>
                </args>
            </simidailydeal>
        </routers>
        <layout>
            <updates>
                <simidailydeal>
                    <file>simidailydeal.xml</file>
                </simidailydeal>
            </updates>
        </layout>
        <translate>
            <modules>
                <Simi_Simidailydeal>
                    <files>
                        <default>Simi_Simidailydeal.csv</default>
                    </files>
                </Simi_Simidailydeal>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <dailydealadmin after="Mage_Adminhtml">Simi_Simidailydeal_Adminhtml</dailydealadmin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <simidailydeal>
                    <file>simidailydeal.xml</file>
                </simidailydeal>
            </updates>
        </layout>
        <translate>
            <modules>
                <Simi_Simidailydeal>
                    <files>
                        <default>Simi_Simidailydeal.csv</default>
                    </files>
                </Simi_Simidailydeal>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <simidailydeal>
                <class>Simi_Simidailydeal_Model</class>
                <resourceModel>dailydeal_mysql4</resourceModel>
            </simidailydeal>
            <dailydeal_mysql4>
                <class>Simi_Simidailydeal_Model_Mysql4</class>
                <entities>
                    <dailydeal>
                        <table>simi_simidailydeal</table>
                    </dailydeal>
                </entities>
            </dailydeal_mysql4>
        </models>
        <resources>
            <simi_simidailydeal_setup>
                <setup>
                    <module>Simi_Simidailydeal</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </simi_simidailydeal_setup>
            <dailydeal_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dailydeal_write>
            <dailydeal_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dailydeal_read>
        </resources>
        <blocks>
            <simidailydeal>
                <class>Simi_Simidailydeal_Block</class>
            </simidailydeal>
        </blocks>
        <helpers>
            <simidailydeal>
                <class>Simi_Simidailydeal_Helper</class>
            </simidailydeal>
        </helpers>
        <events>

            <!-- Add Api Resrouce -->
            <simi_simiconnector_model_server_initialize>
                <observers>
                    <simi_simiconnector_model_server_initialize_simidailydeal>
                        <type>singleton</type>
                        <class>simidailydeal/simiobserver</class>
                        <method>simiSimiconnectorModelServerInitialize</method>
                    </simi_simiconnector_model_server_initialize_simidailydeal>
                </observers>
            </simi_simiconnector_model_server_initialize>

            <!-- Product Item-->
            <simi_simiconnector_model_api_products_show_after>
                <observers>
                    <SimiconnectorModelApiProductsShowAfter>
                        <type>singleton</type>
                        <class>simidailydeal/simiobserver</class>
                        <method>SimiconnectorModelApiProductsShowAfter</method>
                    </SimiconnectorModelApiProductsShowAfter>
                </observers>
            </simi_simiconnector_model_api_products_show_after>

            <catalog_product_collection_load_after>
                <observers>
                    <Simi_Simidailydeal_Model_Observer>
                        <type>singleton</type>
                        <class>Simi_Simidailydeal_Model_Observer</class>
                        <method>collectionLoadAfter</method>
                    </Simi_Simidailydeal_Model_Observer>
                </observers>
            </catalog_product_collection_load_after>
            <sales_model_service_quote_submit_before>
                <observers>
                    <Simi_Simidailydeal_Model_Observer>
                        <class>Simi_Simidailydeal_Model_Observer</class>
                        <method>quoteSubmitBefore</method>
                    </Simi_Simidailydeal_Model_Observer>
                </observers>
            </sales_model_service_quote_submit_before>

            <catalog_product_get_final_price>
                <observers>
                    <Simi_Simidailydeal_Model_Observer>
                        <type>singleton</type>
                        <class>Simi_Simidailydeal_Model_Observer</class>
                        <method>getFinalPrice</method>
                    </Simi_Simidailydeal_Model_Observer>
                </observers>
            </catalog_product_get_final_price>
            <checkout_cart_save_after>
                <observers>
                    <Simi_Simidailydeal_Model_Observer>
                        <type>singleton</type>
                        <class>Simi_Simidailydeal_Model_Observer</class>
                        <method>checkOutSaveAfter</method>
                    </Simi_Simidailydeal_Model_Observer>
                </observers>
            </checkout_cart_save_after>

            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <Simi_Simidailydeal_Model_Observer>
                        <type>singleton</type>
                        <class>Simi_Simidailydeal_Model_Observer</class>
                        <method>checkoutCartAddProduct</method>
                    </Simi_Simidailydeal_Model_Observer>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <sales_order_creditmemo_refund>
                <observers>
                    <Simi_Simidailydeal_Model_Observer>
                        <type>singleton</type>
                        <class>Simi_Simidailydeal_Model_Observer</class>
                        <method>refundCreditmemo</method>
                    </Simi_Simidailydeal_Model_Observer>
                </observers>
            </sales_order_creditmemo_refund>
            <order_cancel_after>
                <observers>
                    <Simi_Simidailydeal_Model_Observer>
                        <type>singleton</type>
                        <class>Simi_Simidailydeal_Model_Observer</class>
                        <method>orderCancelAfter</method>
                    </Simi_Simidailydeal_Model_Observer>
                </observers>
            </order_cancel_after>
        </events>
    </global>

    <default>
        <simidailydeal>
            <general>
                <limit>0</limit>
            </general>
            <sidebar>
                <number_deal>1</number_deal>
            </sidebar>
        </simidailydeal>
    </default>
</config>