<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <simipushnotif>
            <notification>
                <enable>1</enable>
                <icon_url>https://www.simicart.com/media/images/icon.png</icon_url>
            </notification>
        </simipushnotif>
    </default>
</config>