<?xml version="1.0"?>
<config>
    <modules>
        <Simi_Simitracking>
            <version>0.1.2</version>
        </Simi_Simitracking>
    </modules>
    <frontend>
        <routers>
            <simitracking>
                <use>standard</use>
                <args>
                    <module>Simi_Simitracking</module>
                    <frontName>simitracking</frontName>
                </args>
            </simitracking>
        </routers>
        <layout>
            <updates>
                <simitracking>
                    <file>simitracking.xml</file>
                </simitracking>
            </updates>
        </layout>
        <translate>
            <modules>
                <Simi_Simitracking>
                    <files>
                        <default>Simi_Simitracking.csv</default>
                    </files>
                </Simi_Simitracking>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Simi_Simitracking before="Mage_Adminhtml">Simi_Simitracking_Adminhtml</Simi_Simitracking>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <simitracking>
                    <file>simitracking.xml</file>
                </simitracking>
            </updates>
        </layout>
        <translate>
            <modules>
                <Simi_Simitracking>
                    <files>
                        <default>Simi_Simitracking.csv</default>
                    </files>
                </Simi_Simitracking>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <simitracking>
                <class>Simi_Simitracking_Model</class>
                <resourceModel>simitracking_mysql4</resourceModel>
            </simitracking>
            <simitracking_mysql4>
                <class>Simi_Simitracking_Model_Mysql4</class>
                <entities>
                    <user>
                        <table>simitracking_user</table>
                    </user>
                    <role>
                        <table>simitracking_roles</table>
                    </role>
                    <permission>
                        <table>simitracking_permissions</table>
                    </permission>
                    <device>
                        <table>simitracking_devices</table>
                    </device>
                </entities>
            </simitracking_mysql4>
        </models>
        <resources>
            <simitracking_setup>
                <setup>
                    <module>Simi_Simitracking</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </simitracking_setup>
            <simitracking_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </simitracking_write>
            <simitracking_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </simitracking_read>
        </resources>
        <blocks>
            <simitracking>
                <class>Simi_Simitracking_Block</class>
            </simitracking>
        </blocks>
        <helpers>
            <simitracking>
                <class>Simi_Simitracking_Helper</class>
            </simitracking>
        </helpers>
        <events>
            <sales_order_place_after>                    
                <observers>   
                    <simitracking_observers>
                        <type>singleton</type>
                        <class>simitracking/observer</class>
                        <method>orderPlacingCompleted</method>
                    </simitracking_observers>  
                </observers>
            </sales_order_place_after>
            <sales_order_save_after>                    
                <observers>   
                    <simitracking_observers_order_save_after>
                        <type>singleton</type>
                        <class>simitracking/observer</class>
                        <method>orderSaveAfter</method>
                    </simitracking_observers_order_save_after>
                </observers>
            </sales_order_save_after> 
        </events>
    </global>
    <default>
        <simitracking>             
            <general>
                <enable>1</enable> 
                <new_order_notification>0</new_order_notification>
                <order_processing_notification>0</order_processing_notification>
                <order_completed_notification>0</order_completed_notification>
            </general>
        </simitracking>       
    </default>
</config>