<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="simi_hyperpay_model_server_initialize">
        <observer name="Hyperpay_Simi_Simiconnector_Model_Server_Initialize"
                  instance="Simi\Hyperpay\Observer\SimiconnectorModelServerInitialize" />
    </event>
</config>