<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="simipwa" translate="label" sortOrder="1000">
            <label>Simicart Pwa</label>
        </tab>
        <section id="simipwa" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>General Settings</label>
            <tab>simipwa</tab>
            <resource>Simi_Simipwa::simipwa_settings</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="pwa_enable" translate="label" type="select" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Contact support@simicart.com for PWA building</comment>
                </field>
                <field id="pwa_url" translate="label" type="text" sortOrder="199" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PWA Page URL</label>
                    <depends>
                        <field id="*/*/pwa_enable">1</field>
                    </depends>
                </field>
                <field id="pwa_excluded_paths" translate="label" type="text" sortOrder="299" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PWA Excluded Paths</label>
                    <comment>Separated by comma, urls that contain any of the keys above would be excluded from Web App. Eg: checkout/onepage</comment>
                    <depends>
                        <field id="*/*/pwa_enable">1</field>
                    </depends>
                </field>
                <field id="clear_cache" translate="label" type="text" sortOrder="399" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sync Sitemap Url</label>
                    <depends>
                        <field id="*/*/pwa_enable">1</field>
                    </depends>
                    <frontend_model>Simi\Simipwa\Block\System\Config\Form\SyncButton</frontend_model>
                </field>
            </group>
            <group id="notification" translate="label" type="text" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
