<?xml version="1.0"?>

<config>
    <modules>
        <Simi_Simicustompayment>
            <version>0.1.0</version>
        </Simi_Simicustompayment>
    </modules>
    <frontend>
        <routers>
            <simicustompayment>
                <use>standard</use>
                <args>
                    <module>Simi_Simicustompayment</module>
                    <frontName>simicustompayment</frontName>
                </args>
            </simicustompayment>
        </routers>
        <layout>
            <updates>
                <simicustompayment>
                    <file>simicustompayment.xml</file>
                </simicustompayment>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <simicustompayment>
                <use>admin</use>
                <args>
                    <module>Simi_Simicustompayment</module>
                    <frontName>simicustompaymentadmin</frontName>
                </args>
            </simicustompayment>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <simicustompayment>
                    <file>simicustompayment.xml</file>
                </simicustompayment>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <simicustompayment>
                <class>Simi_Simicustompayment_Model</class>
                <resourceModel>simicustompayment_mysql4</resourceModel>
            </simicustompayment>
            <simicustompayment_mysql4>
                <class>Simi_Simicustompayment_Model_Mysql4</class>
                <entities>
                    <simicustompayment>
                        <table>simicustompayment</table>
                    </simicustompayment>
                </entities>
            </simicustompayment_mysql4>
        </models>
        <resources>
            <simicustompayment_setup>
                <setup>
                    <module>Simi_Simicustompayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </simicustompayment_setup>
            <simicustompayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </simicustompayment_write>
            <simicustompayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </simicustompayment_read>
        </resources>
        <blocks>
            <simicustompayment>
                <class>Simi_Simicustompayment_Block</class>
            </simicustompayment>
        </blocks>
        <helpers>
            <simicustompayment>
                <class>Simi_Simicustompayment_Helper</class>
            </simicustompayment>
        </helpers>
        <events>
            <!-- 4.0 simiconnector version -->
            <!-- Add API resource -->
            <simi_simiconnector_model_server_initialize>
                <observers>
                    <simi_simiconnector_model_server_initialize_simicustompayment>
                        <type>singleton</type>
                        <class>simicustompayment/simiobserver</class>
                        <method>connectorConfigGetPluginsReturnCustompayment</method>
                    </simi_simiconnector_model_server_initialize_simicustompayment>
                </observers>
            </simi_simiconnector_model_server_initialize>
            <simiconnector_add_payment_method>
                <observers>
                    <simi_simicustompayment_add_payment_method>
                        <class>simicustompayment/simiobserver</class>
                        <method>addPayment40</method>
                    </simi_simicustompayment_add_payment_method>
                </observers>
            </simiconnector_add_payment_method>
            <simi_simiconnector_model_api_orders_onepage_store_before>
                <observers>
                    <simi_simicustompayment_api_orders_onepage_store_before>
                        <class>simicustompayment/simiobserver</class>
                        <method>simiconnectorBeforePlaceOrder</method>
                    </simi_simicustompayment_api_orders_onepage_store_before>
                </observers>
            </simi_simiconnector_model_api_orders_onepage_store_before>
            <simi_simiconnector_model_api_orders_onepage_store_after>
                <observers>
                    <simi_simicustompayment_api_orders_onepage_store_after>
                        <class>simicustompayment/simiobserver</class>
                        <method>simiconnectorAfterPlaceOrder</method>
                    </simi_simicustompayment_api_orders_onepage_store_after>
                </observers>
            </simi_simiconnector_model_api_orders_onepage_store_after>
            <simiconnector_change_payment_detail>
                <observers>
                    <simiconnector_simicustompayment_change_payment_detail>
                        <type>singleton</type>
                        <class>simicustompayment/simiobserver</class>
                        <method>changePayment</method>
                    </simiconnector_simicustompayment_change_payment_detail>
                </observers>
            </simiconnector_change_payment_detail>
            <!-- end -->
        </events>
    </global>]
</config>