<?xml version="1.0"?>
<config>
    <modules>
        <Simicart_Simimigrate>
            <version>0.1.0</version>
        </Simicart_Simimigrate>
    </modules>
    <frontend>
        <routers>
            <simimigrate>
                <use>standard</use>
                <args>
                    <module>Simicart_Simimigrate</module>
                    <frontName>simimigrate</frontName>
                </args>
            </simimigrate>
        </routers>
        <layout>
            <updates>
                <simimigrate>
                    <file>simimigrate.xml</file>
                </simimigrate>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml> 
                <args> 
                    <modules> 
                        <Simicart_Simimigrate after="Mage_Adminhtml">Simicart_Simimigrate_Adminhtml</Simicart_Simimigrate>
                    </modules> 
                </args> 
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <simimigrate>
                    <file>simimigrate.xml</file>
                </simimigrate>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <simimigrate>
                <class>Simicart_Simimigrate_Model</class>
                <resourceModel>simimigrate_mysql4</resourceModel>
            </simimigrate>
            <simimigrate_mysql4>
                <class>Simicart_Simimigrate_Model_Mysql4</class>
                <entities>
                    <app>
                        <table>simimigrate_app</table>
                    </app>
                    <store>
                        <table>simimigrate_store</table>
                    </store>
                    <storeview>
                        <table>simimigrate_storeview</table>
                    </storeview>
                    <category>
                        <table>simimigrate_category</table>
                    </category>
                    <product>
                        <table>simimigrate_product</table>
                    </product>
                    <customer>
                        <table>simimigrate_customer</table>
                    </customer>
                </entities>
            </simimigrate_mysql4>
        </models>
        <resources>
            <simimigrate_setup>
                <setup>
                    <module>Simicart_Simimigrate</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </simimigrate_setup>
            <simimigrate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </simimigrate_write>
            <simimigrate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </simimigrate_read>
        </resources>
        <blocks>
            <simimigrate>
                <class>Simicart_Simimigrate_Block</class>
            </simimigrate>
        </blocks>
        <helpers>
            <simimigrate>
                <class>Simicart_Simimigrate_Helper</class>
            </simimigrate>
        </helpers>
    </global>
</config> 